<menu>
    <a href="/">games</a>
    <a href="/newwire">newwire</a>
    <a href="/videos">videos</a>
    <a href="/downloads">downloads</a>
    <a href="/store">store</a>
    <a href="/suport">suport</a>
    <a href="">get louncher</a>
    <p class="pesquisar"></p><!-- imagem lupa -->
    <p>s</p><!-- sign-in -->
    <div class="pesquisa-pai" style="display: none;">
            <form action="" >
                <input type="text" name="" id="" placeholder="search rockstar games..">
                <button><img src="" alt=""></button>
            </form>
            <ul>
                <li>games</li>
                <li>posts</li>
                <li>videos</li>
                <li>comunity</li>
                <li>X</li> <!-- evento deletar -->
            </ul>
    </div>
</menu>